@font-face {
    font-family: Inter;
    src: 
    local("Inter Regular"),
    url(/andreevnna-JSFE2023Q4/coffee-house/fonts/Inter-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: Inter;
    src: url(/andreevnna-JSFE2023Q4/coffee-house/fonts/Inter-SemiBold.ttf);
    font-weight: 600;
    font-style: normal;
}