.icon_menu {
    background-image: url(/andreevnna-JSFE2023Q4/coffee-house/images/icon/coffee-cup.svg);
    width: 20px;
    height: 20px;
}
.icon {
    vertical-align: sub;
    display: inline-block;
}
.icon_arrow-prev {
    background-image: url(/andreevnna-JSFE2023Q4/coffee-house/images/arrows/arrow-left.svg);
    width: 24px;
    height: 24px;
}
.icon_arrow-next {
    background-image: url(/andreevnna-JSFE2023Q4/coffee-house/images/arrows/arrow-right.svg);
    width: 24px;
    height: 24px;
}
.icon_google-play {
    background-image: url(/andreevnna-JSFE2023Q4/coffee-house/images/icon/google.svg);
    width: 36px;
    height: 36px;
}
.icon_apple {
    background-image: url(/andreevnna-JSFE2023Q4/coffee-house/images/icon/apple.svg);
    width: 36px;
    height: 36px;
}
.icon_twitter {
    background-image: url(/andreevnna-JSFE2023Q4/coffee-house/images/icon/twitter.svg);
    width: 24px;
    height: 24px;
}
.icon_instagram {
    background-image: url(/andreevnna-JSFE2023Q4/coffee-house/images/icon/instagram.svg);
    width: 24px;
    height: 24px;
}
.icon_facebook {
    background-image: url(/andreevnna-JSFE2023Q4/coffee-house/images/icon/facebook.svg);
    width: 24px;
    height: 24px;
}
.icon_adress {
    background-image: url(/andreevnna-JSFE2023Q4/coffee-house/images/icon/pin-alt.svg);
    width: 20px;
    height: 20px;
    margin-right: 4px;
}
.icon_phone {
    background-image: url(/andreevnna-JSFE2023Q4/coffee-house/images/icon/phone.svg);
    width: 20px;
    height: 20px;
    margin-right: 4px;
}
.icon_time {
    background-image: url(/andreevnna-JSFE2023Q4/coffee-house/images/icon/clock.svg);
    width: 20px;
    height: 20px;
    margin-right: 4px;
}
.icon_coffee {
    background-image: url(/andreevnna-JSFE2023Q4/coffee-house/images/icon/coffee.svg);
    width: 16px;
    height: 20px;
    vertical-align: middle;
}
.icon_tea {
    background-image: url(/andreevnna-JSFE2023Q4/coffee-house/images/icon/tea.svg);
    width: 16px;
    height: 20px;
    vertical-align: middle;
}
.icon_dessert {
    background-image: url(/andreevnna-JSFE2023Q4/coffee-house/images/icon/dessert.svg);
    width: 16px;
    height: 20px;
    vertical-align: middle;
}