.menu {
    color: $color-dark;
    position: relative;
    &:after {
        height: 2px;
        width: 100%;
        background-color: $color-dark;
        position: absolute;
        left: 0;
        bottom: -4px;
        content: '';
        scale: 0;
        @extend %transition;
    }
    &:hover {
        &:after {
            @extend %transition;
            scale: 1;
        }
    }
    .text {
        margin-right: 5px;
        vertical-align: text-top;
    }
}