.button {
    @include button($background: $color-light, $padding: 0);
}
.button_colored {
    background-color: $color-light;
    border: none;
}
.button-menu {
    text-align: center;
    width: 200px;
    height: 64px;
    padding: 20px 0;
    &:hover {   
        .icon_menu {
            @extend %transition;
            opacity: 1;
        }
        .enjoy__button-text {
            @extend %transition;
            display: inline-block;
            transform: translateX(0);
        }
    }
}
.enjoy__button-text {
    transform: translateX(15px);
    display: inline-block;
    margin-right: 10px;
}
.enjoy__button {
    .icon_menu {
        opacity: 0;
    }
}
.button__social {
    margin-right: 8px;
    width: 60px;
    height: 60px;
    @include button($background: $color-light, $padding: 16px, $border: 1px solid $color-border-light);
    &:hover {
        border: 1px solid $color-light;
        .icon_facebook {
            background-image: url(/coffee-house/images/icon/facebook-light.svg);
        }
        .icon_twitter {
            background-image: url(/coffee-house/images/icon/twitter-light.svg);
        }
        .icon_instagram {
            background-image: url(/coffee-house/images/icon/instagram-light.svg);
        }
    }
}
.button-mobile {
    @include button($padding: 4px 19px, $border: 1px solid $color-dark,$background: $color-background-container);
    &:hover {
        .icon_google-play {
            background-image: url(/coffee-house/images/icon/google-light.svg);
        }
        .icon_apple {
            background-image: url(/coffee-house/images/icon/apple-light.svg);
        }
        border: 1px solid $color-background-container;
        .text {
            span {
                color: $color-light;
            }
        }
    }
}