.enjoy__background {
    background-image: url(/coffee-house/images/img-hero.png);
    background-position: center;
    background-size: cover;
    @extend %border-radius;
    padding: 100px;
    background-repeat: no-repeat;
    @include media-tablet {
        padding: 100px 60px;
    }
    @include media-mobile {
        padding: 60px 16px;
    }
}
.enjoy__content {
    display: flex;
    flex-direction: column;
    max-width: 530px;
    color: $color-light;
    @include media-tablet {
        // width: 100%;
    }
    a {
        color: $color-dark;
    }
    p {
        margin: 20px 0;
    }
    h1 {
        margin-bottom: 20px;
    }

}
.enjoy__button {
    margin-top: 20px;
}