.menu-coffee__cards {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 40px;
}
.card {
    cursor: pointer;
    width: 310px;
    margin-right: 40px;
    border: 1px solid $color-border-light;
    border-radius: 40px;
    &:last-child {
        margin-right: 0px;
    }
}
.card__img {
    img {
        width: 310px;
        border-radius: 40px;
    }
}
.menu-coffee {
    padding-bottom: 61px;
    h2 {
        text-align: center;
        width: 60%;
        margin: auto;
    }
}
.menu-coffee__buttons {
    padding: 40px 0;
    text-align: center;
}
.align {
    vertical-align: middle;
    padding-right: 8px;
}
.card__content {
    height: 187px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 14px 20px;
    h3 {
        margin: 0;
    }
    p {
        margin: 12px 0 5px 0;
    }

}
.card__price {
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 125%;
    margin: 0;
}