.mobile-app {
    padding: 61px 0 94px 0;
    @include media-tablet {
        padding: 61px 0 100px 0;
    }
}
.mobile-app__content {
    max-width: 630px;
    padding-top: 144px;
    p {
        margin: 40px 0; 
    }
    @include media-tablet {
        max-width: 688px;
        padding-top: 0;
    }
}
.mobile-app__gap {
    column-gap: 100px;
    @include media-laptop {
        column-gap: 40px;
    }
    @include media-tablet {
        row-gap: 100px;
        flex-direction: column;
        column-gap: 0;
    }
    @include media-mobile {
        row-gap: 40px;
    }
}
.mobile-app__button {
    @include media-mobile {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }
    a {
        width: 200px;
        height: 64px;
        margin-right: 15px;
    }
    .text {
        padding: 0 6px;
        display: inline-block;
        color: $color-dark;
    }
}
.highlight {
    display: block;
}
.mobile-app__image {
    // overflow: hidden;
    @include media-tablet {
        display: flex;
        justify-content: center;
    }
    @include media-laptop {
        align-self: center;
    }
    img {
        max-width: 630px;
        @include media-mobile {
            max-width: 348px;
        }
    }
}