.header__padding {
    padding: 20px 0px;
}
.header__menu {
    display: flex;
    align-items: center;
}
.menu-cheked {
    &:after {
        scale: 1;
    }
    cursor: default;
    pointer-events: none;
}